@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&family=Permanent+Marker&display=swap');

/************************* color_plan ***************************/
$point_color_amber : #ffbf00;
$point_color_black : #000;
$main_color_flora_white : #FFFDF6;
$sub_color_free_speach_blue : #4136BF;
$color_white : #fff;

/************************* font_plan ***************************/
@mixin main_title() {
    font-size: 2.4rem;
    font-weight: 700;
}

@mixin sub_title() {
    font-size: 2rem;
    font-weight: 700;
}

$defalut_font_size : 1.6rem;
$small_font_size : 1.2rem;
$small_up_font_size : 1.4rem;

$font_noto_sans : 'Noto Sans KR',
sans-serif;
$font_perment_marker : 'Permanent Marker';

/************************* gap＆padding ***************************/
@mixin gap($value) {
    margin: $value;
}

@mixin padding($value) {
    padding: $value;
}

/************************* background standard  ***************************/
@mixin background_contain {
    background-size: contain;
    background-repeat: no-repeat;
}

@mixin background_cover {
    background-size: cover;
    background-repeat: no-repeat;
}

/************************* item_size ***************************/
@mixin item_size ($width, $height) {
    width: $width;
    height: $height;
}

/************************* text_array ***************************/
@mixin text_array ($height) {
    text-align: center;
    line-height: $height;
}

/************************* center array  ***************************/
@mixin box_array {
    width: 1245px;
    margin: 0 auto;
}

/************************* defalut_settings ***************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    font-size: 10px;
    background-color: $main_color_flora_white;
}

img {
    width: 100%;
    vertical-align: bottom;
}

.sub_title {
    @include sub_title;
    @include text_array(20px);
    margin: 20px 0;
    font-family: $font_perment_marker;
}

/************************* header_ex ***************************/
.header_ex {
    color: $color_white;
    background-color: $point_color_black;

    .header {
        position: relative;
        @include box_array;

        .logo {
            padding: 10px 0;

            a {
                display: block;
                @include item_size(175px, 50px);
                margin: 0 auto;
                background-image: url(../dist/images/main_logo.png);
                @include background_contain;
            }

        }

        .gnb {
            position: absolute;
            padding: 10px 0;
            top: 10px;
            right: 0;

            .gnb_list {
                overflow: hidden;

                li {
                    float: left;
                    margin-right: 15px;

                    &.icon {
                        margin-left: 10px;

                        a {
                            width: 20px;
                            height: 20px;
                            background-image: url(../dist/images/search_icon.png);
                            @include background_cover;
                        }
                    }

                    &.cart {
                        a {
                            width: 30px;
                            height: 30px;
                            background-image: url(../dist/images/cart_icon.png);
                            @include background_cover;
                            transform: translateY(-5px);
                        }
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    a {
                        display: block;
                        font-size: $small_font_size;
                        font-family: $font_noto_sans;
                    }
                }
            }
        }
    }
}

/************************* lnb_ex ***************************/
.lnb_ex {
    background-color: $point_color_black;

    .lnb {
        display: flex;
        @include box_array;
        height: 50px;
        justify-content: space-between;
        align-items: center;

        .main_menu_list {
            display: flex;
            justify-content: space-between;
            align-items: center;

            li {
                margin-right: 50px;

                a {
                    display: block;
                    @include main_title;
                    letter-spacing: -0.8px;
                    color: $color_white;
                }
            }
        }

        .real_time_keyward_frame {
            @include item_size(120px, 20px);

            .keyward_list {
                overflow: hidden;
                height: 20px;

                li {
                    position: relative;
                    margin-left: 20px;
                    @include item_size(100px, 20px);
                    background-color: #fff;

                    a {
                        display: block;
                        padding-left: 10px;
                        line-height: 20px;
                        font-size: $small_up_font_size;
                        font-family: $font_noto_sans;
                    }

                    &:nth-child(1)::after {
                        content: "1";
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        top: 0;
                        left: -20px;
                        font-size: $small_font_size;
                        color: $color_white;
                        background-color: $sub_color_free_speach_blue;
                        @include text_array(20px);
                    }
                }
            }
        }
    }
}

/************************* login_cotainer ***************************/
.login_cotainer {
    background-image: url(../dist/images/login_page_bg.png);
    @include background_cover;
    padding: 80px 0;
    .login_box {
        padding: 30px 0;
        @include item_size(825px, 740px);
        margin: 0 auto;
        background-color: $main_color_flora_white;
        box-shadow: 0px 5px 10px 0px;
        >h2 {
            margin: 0;
            font-size: 28px;
        }

        >p {
            margin-top: 30px;
            font-size: 30px;
            text-align: center;
            font-family: $font_noto_sans;
            letter-spacing: -0.8px;
        }

        .solid {
            display: block;
            @include item_size(405px, 3px);
            margin: 10px auto 40px;
            background-color: #bbbbbb;
            user-select: none;
        }

        form {
            width: 405px;
            margin: 0 auto;
            .id_n_pw {
                position: relative;
                .bar {
                    width: 100%;
                    height: 50px;
                    background-color: #d9d9d9;
                    outline: none;
                    border: none;
                    margin-bottom: 15px;
                    padding-left: 20px;
                    user-select: none;
                    &:focus {
                        background-color: #fff;
                        border: 1px solid black;
                    }
                }
                .show_n_block {
                    position: absolute;
                    top: 75px; right: -55px;
                    #pw_show_block_btn {
                        display: none;
                        &:checked {
                            ~.pw_show_block_btn_design {
                                background-image: url(../dist/images/pw_show_icon.PNG);
                                transform: translateY(4px);
                            }
                        }
                    }
                    .pw_show_block_btn_design {
                        display: block;
                        @include item_size(40px, 40px);
                        background-image: url(../dist/images/pw_block_icon.png);
                        @include background_contain;
                        cursor: pointer;
                    }
                }
            }
            .login_save_n_search {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-family: $font_noto_sans;
                font-size: $small_font_size;
                letter-spacing: -0.8px;
                input {
                    display: none;
                }
                #id_rm_chk {
                    &:checked {
                        ~.id_rm {
                            &::after {
                                background-image: url(../dist/images/check_icon.png);
                                background-color: lightgray;
                                @include background_contain;
                            }
                        }
                    }
                }
                .id_rm {
                    position: relative;
                    font-size: $small_up_font_size;
                    margin-left: 30px;
                    cursor: pointer;
                    &::after {
                        content: "";
                        position: absolute;
                        top: 0; left: -30px;
                        @include item_size(20px, 20px);
                        background-color: white;
                        border: 1px solid #bbbbbb;
                        transition: all 0.2s;
                    }
                }
            }    
        }

        .sign_in_n_sign_up {
            width: 405px;
            margin: 40px auto 0; 
            > li {
                @include item_size(100%, 55px);
                margin-bottom: 15px;
                text-align: center;
                user-select: none;
                &:first-child {
                    background-color: $point_color_amber;
                }
                &:last-child {
                    background-color: $sub_color_free_speach_blue;
                }
                p,a {
                    display: block;
                    line-height: 55px;
                    font-size: $defalut_font_size;
                    color: #fff;
                    font-weight: 700;
                    font-family: $font_noto_sans;
                    letter-spacing: -0.8px;
                    cursor: pointer;
                }
            }
        }

        .easy_notice {
            margin-top: 40px;
            font-size: $defalut_font_size;
        }
        .sns_login{
            display: flex;
            justify-content: center;
            margin-top: 20px;
            li {
                margin-right: 30px;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    display: inline-block;
                    @include item_size(40px, 40px);
                    user-select: none;
                }
            }
        }
    }   
}

/************************* footer_ex ***************************/
.footer_ex {
    background-color: $point_color_black;
    color: $color_white;

    .footer {
        @include box_array;

        a {
            display: block;
        }

        .footer_top {
            display: flex;
            justify-content: space-between;

            .footer_left {
                width: 75%;

                .guide_list {
                    overflow: hidden;
                    margin: 20px 0 40px;

                    li {
                        float: left;
                        margin-right: 30px;

                        a {
                            font-size: $small_font_size;
                        }
                    }
                }

                .business_info_list {
                    margin-bottom: 40px;

                    li {
                        font-size: $small_up_font_size;
                        letter-spacing: -0.8px;
                        margin-bottom: 15px;
                    }
                }
            }

            .footer_right {
                margin-top: 10px;
                width: 25%;

                a {
                    display: block;
                }

                .sns_list {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 20px;

                    li {
                        a {
                            font-size: 30px;
                        }
                    }
                }

                .contact_info_list {
                    li {
                        a {
                            overflow: hidden;
                            font-size: $small_up_font_size;
                            margin-bottom: 15px;

                            span {
                                &:first-child {
                                    float: left;
                                    font-size: $defalut_font_size;
                                    font-weight: 700;
                                }

                                &:last-child {
                                    float: right;
                                }
                            }
                        }
                    }
                }
            }
        }

        .notice {
            display: flex;
            padding-bottom: 40px;

            li {
                margin-right: 20px;

                a {
                    font-size: $small_up_font_size;
                    letter-spacing: -0.8px;
                }
            }
        }
    }
}