@import './common.scss';

button {
	border: none;
	outline: none;
	cursor: pointer;
}

a {
	display: block;
}

label {
	user-select: none;
}

/********************** control_class ************************/
.none_on {
	display: none !important;
}

.block_on {
	display: block !important;
}

.full_down_on {
	width: 100%;
	height: 400px !important;
}

.visual_page_on {
	font-weight: 700;
}

.hover_on {
	opacity: 1 !important;
}

label {
	display: block;
	cursor: pointer;
}

select {
	outline: none;
}

input {
	display: none;
}

.label_style {
	font-size: $small_up_font_size;
}

.clicked {
	color: black !important;
}

.clicked_border {
	border: 2px solid $point_color_amber !important;
}

#quick_menu {
	display: none;
}

/********************** product_search_area ************************/
.product_search_area {
	margin: 80px 0 20px;
	.product_search_tab {
		display: block !important;
		position: relative;
		width: 800px;
		margin: 0 auto;
		margin-top: 10px;

		.search_icon{
			position: absolute;
			top: 16px; left: -30px;
			i {
				font-size: 20px;
				color: black;
				user-select: none;
			}
		}
		input {
			width: 100%;
			display: block;
			color: black;
			outline: none;
			border: 1px solid white;
			border-bottom: 1px solid #000;
			padding: 15px 10px;
			font-family: $font_noto_sans;
			font-size: $small_up_font_size;
			&::-webkit-search-decoration,
			&::-webkit-search-cancel-button,
			&::-webkit-search-results-button,
			&::-webkit-search-results-decoration {
				display: none;
			}
			&:focus {
				border: 1px solid $sub_color_free_speach_blue !important;
			}
		}
		#search_delete_btn {
			display: none;
			position: absolute;
			display: inline-block;
			top: 14px; right: 20px;
			cursor: pointer;
			i {
				font-size: 24px;
				color: black;
			}
		}
	}
}
.serach_list_length_section {
	text-align: center;
	font-family: $font_noto_sans;
	font-size: $defalut_font_size;
	.search_value {
		color: $sub_color_free_speach_blue;
		font-size: 2rem;
		font-weight: 700;
		margin-right: 10px;
	}
	.list_length {
		font-size: 2rem;
		font-weight: 700;
	}
}

.search_wrapper {
	@include box_array;
	padding-top: 40px;
	.product_list_design {
		.search_not_ment {
			margin: 30px 0;
			background-color: white;
			font-family: $font_noto_sans;
			font-size: 20px;
			text-align: center;
		}

		li {
			position: relative;
			float: left;
			margin-right: 15px;
			@include item_size(300px, 600px);
			&:nth-child(4n) {
				margin-right: 0;
			}
			&.link_hidden {
				display: none;
			}
			.img_link_01 {
				position: absolute;
				top: 0;
				transition: all 0.3s;
				opacity: 1;
				&:hover {
					opacity: 0;
				}
				img {
					object-fit: cover;
				}
			}
			.img_link_02 {
				img {
					object-fit: cover;
				}
			}
/*                 img {
				@include item_size(300px, 330px);
			} */
			.product_name {
				font-size: $small_up_font_size;
				font-family: $font_noto_sans;
				font-weight: 700;
				margin-top: 6px;
			}
			.model_name {
				font-size: $small_up_font_size;
				font-family: $font_noto_sans;
			}
			.price {
				display: inline-block;
				font-size: 18px;
				font-family: $font_noto_sans;
				margin-bottom: 60px;
			}
			.price_unit {
				font-size: 20px;
				margin-right: 2px;
			}
			.best, .new {
				display: inline-block;
				margin-top: 6px;
				margin-right: 5px;
				font-size: $small_up_font_size;
				font-weight: 700;
			}
			.best {
				color: #8e2720;
				animation: best 0.8s infinite;
			}
			.new {
				color: #4136BF;
				animation: new 0.8s 0.4s infinite;
			}
			@keyframes best {
				50% {
					color: #d88f8a;
				}
				100% {
					color: #b92d23;
				}
			}
			@keyframes new {
				50% {
					color: #938beb;
				}
				100% {
					color: #4136BF;
				}
			}
		}
	}
	.pagenation_design {
		overflow: hidden;
		@include box_array;
		display: flex;
		margin-bottom: 70px;
		text-align: center;
		justify-content: center;
		ul {
			display: flex;
			margin-right: 20px;
		}
		li {
			margin-right: 20px;
			font-size: 16px;
			border-radius: 50%;
			@include item_size(30px, 30px);
			line-height: 30px;
			font-family: $font_noto_sans;
			transition: all 0.2s;
			cursor: pointer;
			&:last-child {
				margin-right: 0;
			}
			&.page_on {
				color: white;
				background-color: #4136BF;
				border-radius: 50%;
				font-weight: 700;
			}
		}
		.page_btn {
			transform: translateY(-3px);
			margin-right: 20px;
			font-size: 26px;
			cursor: pointer;
		}
	}
}