@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&family=Permanent+Marker&display=swap');

/************************* color_plan ***************************/
$point_color_amber : #ffbf00;
$point_color_black : #000;
$main_color_flora_white : #FFFDF6;
$sub_color_free_speach_blue : #4136BF;
$color_white : #fff;

/************************* font_plan ***************************/
@mixin main_title() {
    font-size: 2.4rem;
    font-weight: 700;
}

@mixin sub_title() {
    font-size: 2rem;
    font-weight: 700;
}

$defalut_font_size : 1.6rem;
$small_font_size : 1.2rem;
$small_up_font_size : 1.4rem;

$font_noto_sans : 'Noto Sans KR',
sans-serif;
$font_perment_marker : 'Permanent Marker';

/************************* gap＆padding ***************************/
@mixin gap($value) {
    margin: $value;
}

@mixin padding($value) {
    padding: $value;
}

/************************* background standard  ***************************/
@mixin background_contain {
    background-size: contain;
    background-repeat: no-repeat;
}

@mixin background_cover {
    background-size: cover;
    background-repeat: no-repeat;
}

/************************* item_size ***************************/
@mixin item_size ($width, $height) {
    width: $width;
    height: $height;
}

/************************* text_array ***************************/
@mixin text_array ($height) {
    text-align: center;
    line-height: $height;
}

/************************* center array  ***************************/
@mixin box_array {
    width: 1245px;
    margin: 0 auto;
}

/************************* defalut_settings ***************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    font-size: 10px;
    background-color: $main_color_flora_white;
}

img {
    width: 100%;
    vertical-align: bottom;
}

.sub_title {
    @include sub_title;
    @include text_array(20px);
    margin: 20px 0;
    font-family: $font_perment_marker;
}

.page {
    display: none;
    width: 615px;
    padding: 40px 60px;
    margin: 100px auto 0;
    background-color: #fff;
    border: 1px solid #bbbbbb;
}

.page_on {
    display: block;
}

/************************* header_ex ***************************/
.header_ex {
    color: $color_white;
    background-color: $point_color_black;

    .header {
        position: relative;
        @include box_array;

        .logo {
            padding: 10px 0;

            a {
                display: block;
                @include item_size(175px, 50px);
                margin: 0 auto;
                background-image: url(../dist/images/main_logo.png);
                @include background_contain;
            }

        }

        .gnb {
            position: absolute;
            padding: 10px 0;
            top: 10px;
            right: 0;

            .gnb_list {
                overflow: hidden;

                li {
                    float: left;
                    margin-right: 15px;

                    &.icon {
                        margin-left: 10px;

                        a {
                            width: 20px;
                            height: 20px;
                            background-image: url(../dist/images/search_icon.png);
                            @include background_cover;
                        }
                    }

                    &.cart {
                        a {
                            width: 30px;
                            height: 30px;
                            background-image: url(../dist/images/cart_icon.png);
                            @include background_cover;
                            transform: translateY(-5px);
                        }
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    a {
                        display: block;
                        font-size: $small_font_size;
                        font-family: $font_noto_sans;
                    }
                }
            }
        }
    }
}

/************************* lnb_ex ***************************/
.lnb_ex {
    background-color: $point_color_black;

    .lnb {
        display: flex;
        @include box_array;
        height: 50px;
        justify-content: space-between;
        align-items: center;

        .main_menu_list {
            display: flex;
            justify-content: space-between;
            align-items: center;

            li {
                margin-right: 50px;

                a {
                    display: block;
                    @include main_title;
                    letter-spacing: -0.8px;
                    color: $color_white;
                }
            }
        }

        .real_time_keyward_frame {
            @include item_size(120px, 20px);

            .keyward_list {
                overflow: hidden;
                height: 20px;

                li {
                    position: relative;
                    margin-left: 20px;
                    @include item_size(100px, 20px);
                    background-color: #fff;

                    a {
                        display: block;
                        padding-left: 10px;
                        line-height: 20px;
                        font-size: $small_up_font_size;
                        font-family: $font_noto_sans;
                    }

                    &:nth-child(1)::after {
                        content: "1";
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        top: 0;
                        left: -20px;
                        font-size: $small_font_size;
                        color: $color_white;
                        background-color: $sub_color_free_speach_blue;
                        @include text_array(20px);
                    }
                }
            }
        }
    }
}

/************************* step ***************************/
.step {
    @include box_array;

    >.sub_title {
        font-size: 40px;
        padding-top: 40px;
    }

    .step_list {
        display: flex;
        justify-content: center;
        margin-top: 60px;

        .step_on {
            background-color: #4136BF;
            color: white;
            border-radius: 50%
        }

        .text_step_on {
            color: #4136BF;
        }

        li {
            @include item_size(80px, 80px);
            background-color: #E4E4E4;
            border-radius: 50%;
            margin-right: 120px;

            &:last-child {
                margin-right: 0;
            }

            .circle {
                font-size: 24px;
                @include text_array(80px);
                text-align: center;
            }

            .text {
                margin-top: 20px;
                font-family: $font_noto_sans;
                font-size: $defalut_font_size;
                text-align: center;
            }
        }
    }
}

/************************* agree_terms_contents page ***************************/
.agree_terms_contents {


    >h2 {
        padding-bottom: 10px;
        border-bottom: 2px solid black;
    }

    >form {
        .all_terms_list {}

        .terms_first {}

        .terms_two {
            .terms_box {
                height: 100px;
            }
        }

        li {
            padding: 20px 0;
            border-bottom: 1px solid #bbbbbb;

            input {
                display: none;
            }
        }

        input {
            display: none;

            &:checked {
                ~label {
                    &::after {
                        background-image: url(../dist/images/check_icon.png);
                        @include background_contain;
                    }
                }
            }
        }

        label {
            position: relative;
            display: block;
            cursor: pointer;
            user-select: none;
            font-family: $font_noto_sans;
            font-size: $small_up_font_size;

            &::after {
                content: "";
                position: absolute;
                @include item_size(20px, 20px);
                background-color: #fff;
                right: 0;
                border: 1px solid black;
                transition: all 0.2s;
            }
        }

        p {
            margin-bottom: 10px;
        }

        .terms_box {
            padding: 10px 10px 10px 20px;
            margin-top: 20px;
            border: 1px solid #bbbbbb;
            height: 240px;
            overflow-y: scroll;
            font-size: $small_font_size;
        }
    }

    #caution {
        display: none;
        margin-top: 40px;
        text-align: center;
        color: red;
        font-size: $defalut_font_size;
    }

    /*         .margin_big {
            font-weight: 700;
            margin: 20px 0 !important;
        } */
}

/************************* privacy_input page ***************************/
.privacy_input {
    >h2 {
        font-size: 20px;
        padding-bottom: 10px;
        border-bottom: 2px solid black;
    }

    .caution_pop_up_ex {
        &.pop_up_on {
            display: block;
        }

        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.2);

        .caution_pop_up {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 30px 20px;
            background-color: red;
            color: #fff;
            font-size: $small_up_font_size;
            font-family: $font_noto_sans;
            text-align: center;
            user-select: none;
            cursor: pointer;

            &:hover {
                .close_btn {
                    color: black;
                }
            }

            .close_btn {
                position: absolute;
                top: -40px;
                right: 0;
                font-size: 26px;
                transition: all 0.2s;
            }
        }
    }

    >form {
        .necessary_area {
            .input_name {}

            .select_gender {}

            .birth_data {}

            .input_id {}

            .input_pw {}

            .input_pw_chk {}

            .input_email {
                flex-wrap: wrap;
            }

            .input_email_chk {}
        }

        .etc_area {
            .input_recommender {}
        }

        li {
            display: flex;
            padding: 20px 0;
            border-bottom: 1px solid #bbbbbb;
            align-items: center;
            user-select: none;

            .important {
                display: inline-block;
                color: red;
                font-size: $small_font_size;
                margin-left: 5px;
            }

            .small_bar {}

            input {
                flex: 0 0 auto;
                outline: none;
                padding: 0 10px;
                border: 1px solid lightgray;
                font-size: $small_font_size;
                margin-left: 15px;

                &:focus {
                    border: 1px solid gray;
                }
            }

            label {
                user-select: none;
                font-family: $font_noto_sans;
                font-size: $small_up_font_size;
            }

            button {
                color: white;
                font-size: $small_font_size;
                border: none;
                cursor: pointer;
                background-color: #4136BF;
                margin-left: 10px;
                padding: 10px 20px;
                outline: none;
                transition: all 0.2s;

                &:hover {
                    background-color: #ffbf00;
                }
            }

            select {
                height: 30px;
                outline: none;
                border: 1px solid lightgray;
                margin-left: 15px;
                @include item_size(100px, 30px);

                &:focus {
                    border: 1px solid gray;
                }
            }

            .small_bar {
                @include item_size(100px, 30px);
            }

            .medium_bar {
                @include item_size(200px, 30px);
            }
        }
    }
}

/************************* prev_next ***************************/
.prev_next {
    display: flex;
    width: 615px;
    margin: 40px auto 60px;

    button {
        display: block;
        outline: none;
        border: none;
        text-align: center;
        @include item_size(300px, 60px);
        line-height: 60px;
        margin-right: 15px;
        font-family: $font_perment_marker;
        font-size: $defalut_font_size;
        background-color: #ffbf00;
        transition: all 0.2s;
        cursor: pointer;
        user-select: none;

        &:hover {
            background-color: #4136BF;
            color: #fff;
        }

        &.prev {}

        &.next {
            margin-right: 0;
        }
    }
}