@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&family=Permanent+Marker&display=swap');

/************************* color_plan ***************************/
$point_color_amber : #ffbf00;
$point_color_black : #000;
$main_color_flora_white : #FFFDF6;
$sub_color_free_speach_blue : #4136BF;
$color_white : #fff;

/************************* font_plan ***************************/
@mixin main_title() {
    font-size: 2.4rem;
    font-weight: 700;
}

@mixin sub_title() {
    font-size: 2rem;
    font-weight: 700;
}

$defalut_font_size : 1.6rem;
$small_font_size : 1.2rem;
$small_up_font_size : 1.4rem;

$font_noto_sans : 'Noto Sans KR',
sans-serif;
$font_perment_marker : 'Permanent Marker';

/************************* gap＆padding ***************************/
@mixin gap($value) {
    margin: $value;
}

@mixin padding($value) {
    padding: $value;
}

/************************* background standard  ***************************/
@mixin background_contain {
    background-size: contain;
    background-repeat: no-repeat;
}

@mixin background_cover {
    background-size: cover;
    background-repeat: no-repeat;
}

/************************* item_size ***************************/
@mixin item_size ($width, $height) {
    width: $width;
    height: $height;
}

/************************* text_array ***************************/
@mixin text_array ($height) {
    text-align: center;
    line-height: $height;
}

/************************* center array  ***************************/
@mixin box_array {
    width: 1245px;
    margin: 0 auto;
}

/************************* defalut_settings ***************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    font-size: 10px;
    background-color: $main_color_flora_white;
}

img {
    width: 100%;
    vertical-align: bottom;
}

.sub_title {
    @include sub_title;
    @include text_array(20px);
    margin: 20px 0;
    font-family: $font_perment_marker;
}

.page {
    display: none;
    width: 615px;
    padding: 40px 60px;
    margin: 100px auto 0;
    background-color: #fff;
    border: 1px solid #bbbbbb;
}

.page_on {
    display: block;
}

/********************** control_class ************************/
.none_on {
    display: none !important;
}

.block_on {
    display: block !important;
}

.full_down_on {
    width: 100%;
    height: 400px !important;
}

.visual_page_on {
    font-weight: 700;
}

.hover_on {
    opacity: 1 !important;
}

label {
    display: block;
    cursor: pointer;
}

select {
    outline: none;
}

input {
    display: none;
}

.label_style {
    font-size: $small_up_font_size;
}

.clicked {
    color: black !important;
}

.search_on {
    height: 415px !important;
}

.search_close_on {
    top: 415px !important;
}


/********************** html_style ************************/
.step {
    width: 1245px;
    margin: 0 auto;

    >.sub_title {
        font-size: 40px;
        padding-top: 40px;
    }

    .step_list {
        display: flex;
        justify-content: center;
        margin-top: 60px;

        .step_on {
            background-color: #4136BF;
            color: white;
            border-radius: 50%;
        }

        .text_step_on {
            color: #4136BF;
        }

        li {
            width: 80px;
            height: 80px;
            background-color: #E4E4E4;
            border-radius: 50%;
            margin-right: 120px;

            &:last-child {
                margin-right: 0;
            }

            .circle {
                font-size: 24px;
                text-align: center;
                line-height: 80px;
                text-align: center;
            }

            .text {
                margin-top: 20px;
                font-family: "Noto Sans KR", sans-serif;
                font-size: 1.6rem;
                text-align: center;
            }
        }
    }
}

.agree_terms_contents {
    >h2 {
        padding-bottom: 10px;
        border-bottom: 2px solid black;
    }

    >form {
        .terms_two {
            .terms_box {
                height: 100px;
            }
        }

        li {
            padding: 20px 0;
            border-bottom: 1px solid #bbbbbb;

            input {
                display: none;
            }
        }

        input {
            display: none;

            &:checked~label {
                &::after {
                    background-image: url(../dist/images/check_icon.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
        }

        label {
            position: relative;
            display: block;
            cursor: pointer;
            user-select: none;
            font-family: "Noto Sans KR", sans-serif;
            font-size: 1.4rem;

            &::after {
                content: "";
                position: absolute;
                width: 20px;
                height: 20px;
                background-color: #fff;
                right: 0;
                border: 1px solid black;
                transition: all 0.2s;
            }
        }

        p {
            margin-bottom: 10px;
        }

        .terms_box {
            padding: 10px 10px 10px 20px;
            margin-top: 20px;
            border: 1px solid #bbbbbb;
            height: 240px;
            overflow-y: scroll;
            font-size: 1.2rem;
        }
    }

    #caution {
        display: none;
        margin-top: 40px;
        text-align: center;
        color: red;
        font-size: 1.6rem;
    }
}

.privacy_input {
    .necessary_text {
        display: block !important;
    }
    .privacy_input_page_title {
        padding-bottom: 10px;
        border-bottom: 2px solid black;

        >h2 {
            display: inline-block;
            font-family: "Noto Sans KR", sans-serif;
            font-size: 2rem;
        }

        >p {
            display: inline-block;
            font-family: "Noto Sans KR", sans-serif;
            font-weight: 300;
            font-size: 1.2rem;
            margin-left: 15px;

            >span {
                color: red;
                font-size: 1.2rem;
            }
        }
    }

    .caution_pop_up_ex {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.2);

        .caution_pop_up {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 30px 20px;
            background-color: red;
            color: #fff;
            font-size: 1.4rem;
            font-family: "Noto Sans KR", sans-serif;
            text-align: center;
            user-select: none;
            cursor: pointer;

            &:hover {
                .close_btn {
                    color: black;
                }
            }

            .close_btn {
                position: absolute;
                top: -40px;
                right: 0;
                font-size: 26px;
                transition: all 0.2s;
            }
        }
    }

    .caution_pop_up_ex.pop_up_on {
        display: block;
    }

    .guide_message {
        width: 100%;
        margin-top: 15px;
        margin-left: 15px;
        font-size: 1.2rem;
    }

    .message_cation {
        color: red;
    }

    >form {
        .necessary_area {
            .input_email {
                flex-wrap: wrap;

                .email_connecter {
                    display: inline-block;
                    margin-left: 15px;
                }
            }
        }

        li.input_pw {
            .pw_off {
                display: inline-block;
                width: 25px;
                height: 25px;
                margin-left: 10px;
                background: url(../dist/images/pw_block_icon.png) no-repeat;
                background-size: contain;
                transform: translateY(4px);
                transition: all 0.2s;
                cursor: pointer;
            }

            .pw_on {
                background: url(../dist/images/pw_show_icon.PNG) no-repeat;
                background-size: contain;
                transform: translateY(6px);
            }
        }

        li {
            display: flex;
            flex-wrap: wrap;
            padding: 20px 0;
            border-bottom: 1px solid #bbbbbb;
            align-items: center;
            user-select: none;

            .important {
                display: inline-block;
                color: red;
                font-size: 1.2rem;
                margin-left: 5px;
            }

            input {
                flex: 0 0 auto;
                outline: none;
                padding: 0 10px;
                border: 1px solid lightgray;
                font-size: 1.2rem;
                margin-left: 15px;

                &:focus {
                    border: 1px solid gray;
                }
            }

            .false_on {
                background-color: rgb(255 242 244);
                border: 2px solid rgb(237 94 94) !important;
            }

            .true_on {
                background-color: rgb(238 255 238);
                border: 2px solid rgb(127 193 138) !important;
            }

            label {
                user-select: none;
                font-family: "Noto Sans KR", sans-serif;
                font-size: 1.4rem;
            }

            button {
                color: white;
                font-size: 1.2rem;
                border: none;
                cursor: pointer;
                background-color: #4136BF;
                margin-left: 10px;
                padding: 10px 20px;
                outline: none;
                transition: all 0.2s;

                &:hover {
                    background-color: #ffbf00;
                }
            }

            select {
                height: 30px;
                outline: none;
                border: 1px solid lightgray;
                margin-left: 15px;
                width: 100px;
                height: 30px;

                &:focus {
                    border: 1px solid gray;
                }
            }

            .small_bar {
                width: 100px;
                height: 30px;
            }

            .medium_bar {
                width: 200px;
                height: 30px;
            }
        }
    }
}

.confirm {
    overflow: hidden;
    width: 1245px;
    border: none;
    background-color: #FFFDF6;
    padding: 0;

    >div {
        float: left;
        width: 615px;
        margin-right: 15px;
    }

    .confirm_img {
        height: 600px;
    }

    .confirm_ment_area {
        margin-right: 0;

        .carhart_logo {
            width: 195px;
            margin: 0 auto 20px;
        }

        .confirm_ment {
            font-size: 1.4rem;
            text-align: center;
            margin: 30px 0;

            #id_n_title_ment {
                display: flex;
                justify-content: center;

                >p {
                    font-size: 1.6rem;
                    font-family: "Noto Sans KR", sans-serif;
                    margin: 5px 10px 0;
                }

                >h2 {
                    margin-bottom: 20px;
                }
            }
        }

        .login_page_in_btn_design {
            display: none;
            text-align: center;
            width: 405px;
            height: 50px;
            line-height: 50px;
            margin: 0 auto;
            background-color: #4136BF;
            color: white;
            font-size: 1.4rem;
            transition: all 0.2s;

            &:hover {
                background-color: #ffbf00;
            }
        }

        .login_page_in_btn_on {
            display: block !important;
        }
    }
}

.prev_next {
    display: flex;
    width: 615px;
    margin: 40px auto 60px;

    button {
        display: block;
        outline: none;
        border: none;
        text-align: center;
        width: 300px;
        height: 60px;
        line-height: 60px;
        margin-right: 15px;
        font-family: "Permanent Marker";
        font-size: 1.6rem;
        background-color: #ffbf00;
        transition: all 0.2s;
        cursor: pointer;
        user-select: none;

        &:hover {
            background-color: #4136BF;
            color: #fff;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}