@import './common.scss';

button {
    border: none;
    outline: none;
    cursor: pointer;
}

a {
    display: block;
}

label {
    user-select: none;
}
/********************** control_class ************************/
.none_on {
    display: none !important;
}

.block_on {
    display: block !important;
}

.full_down_on {
    width: 100%;
    height: 400px !important;
}

.visual_page_on {
    font-weight: 700;
}

.hover_on {
    opacity: 1 !important;
}

label {
    display: block;
    cursor: pointer;
}

select {
    outline: none;
}

input {
    display: none;
}
.label_style {
    font-size: $small_up_font_size;
}
.clicked {
    color: black !important; 
}
.clicked_border {
    border: 2px solid $point_color_amber !important;
}

/************************* visual_sub ***************************/
.visual_sub {
    position: relative;
    @include item_size(100%, 400px);
    background-image: url(../dist/images/visual_sub01.jpg);
    @include background_cover;
    background-position-y: -100px;
    margin-bottom: 20px;
    a {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        z-index: 10;
    }
    .ment_box_ex {
        position: relative;
        @include box_array;
        height: 400px;

        .ment_box {
            position: absolute;
            left: 0px; bottom: 25px;
            width: 800px; height: 120px;
            padding-top: 20px;
            padding-left: 25px;
            background-color: rgba(0, 0, 0, 0.4);
            h2 {
                color: white;
                font-size: 24px;
                font-family: $font_perment_marker;
            }
            p {
                color: white;
                margin-top: 10px;
                font-family: $font_noto_sans;
                font-size: $defalut_font_size;
            }
        }
    }
}


/************************* wrapper ***************************/
.wrapper {
    display: flex;
    @include box_array;
    margin-bottom: 120px;

    .side_filter {
        flex: 0 0 auto;
        width: 315px;

        >div {
            margin-right: 105px;
            padding: 20px 0;
            border-bottom: 1px solid gray;

            &:first-child {
                padding: 0 !important;
            }

            &:last-child {
                border: none;
            }

            .info_title {
                margin-bottom: 10px;
                letter-spacing: -0.2px;
            }
        }

        .menu_list_section_design {
            .side_top {
                display: flex;
                padding: 15px 0;
                border-bottom: 4px solid black;
                .menu_title {
                    font-size: 2.4rem;
                }
                .reset {
                    i {
                        margin-right: 5px;
                    }
                    margin-top: 30px;
                    user-select: none;
                    cursor: pointer;
                    font-family: $font_noto_sans;
                    font-size: $small_up_font_size;
                    margin-left: 85px;
                    transition: all 0.2s;
                    color: $sub_color_free_speach_blue;
                    &:hover {
                        color: $point_color_amber;
                    }
                }
            }

            .product_menu_list_design {
                font-size: $small_up_font_size;
                font-family: $font_noto_sans;
                font-weight: 700;
                padding: 20px 0;
                li {
                    margin-bottom: 10px;
                    user-select: none;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    input {
                        &:checked ~ label {
                            color: black;
                        }
                    }
                    label {
                        cursor: pointer;
                        display: block;
                        color: gray;
                        transition: all 0.1s;
                    }
                }
                
            }
        }

        .color_select_design {
            ul {
                display: flex;
                flex-wrap: wrap;
                li {
                    input {
                        &:checked ~ label {
                            border: 4px solid black;
                        }
                        &:checked ~ .black_box {
                            border: 4px solid $point_color_amber;
                        }
                    }
                    label {
                        display: block;
                        @include item_size(20px, 20px);
                        cursor: pointer;
                        margin-right: 15px;
                        margin-bottom: 15px;
                        &.black_box {
                            background-color: black;
                        }
                        &.white_box {
                            background-color: white;
                            border: 1px solid #bbbbbb;
                        }
                        &.gray_box {
                            background-color: gray;
                        }
                        &.brown_box {
                            background-color: burlywood;
                        }
                        &.blue_box {
                            background-color: rgb(0, 81, 255);
                        }
                        &.sky_blue_box {
                            background-color: skyblue;
                        }
                        &.green_box {
                            background-color: rgb(9, 163, 9);
                        }
                        &.green_down_box {
                            background-color: rgb(16, 90, 16);
                        }
                        &.orange_box {
                            background-color: orange;
                        }
                        &.pink_box {
                            background-color: pink;
                        }
                        &.purple_box {
                            background-color: rgb(155, 13, 155);
                        }
                    }
                }
            }
        }

        .price_select_design {
            label {
                margin-bottom: 10px;
                letter-spacing: -0.2px;
            }
        }

        .sale_select_design {
            label {
                margin-bottom: 10px;
                letter-spacing: -0.2px;
            }
        }

        .label_style {
            .chk_box {
                display: inline-block;
                width: 15px; height: 15px;
                transform: translateY(2px);
                background-color: white;
                margin-right: 4px;
                border: 1px solid gray;
                transition: all 0.2s;
            }
        }
        .check_design {
            input {
                &:checked {
                    ~ .chk_box {
                        background-image: url(../dist/images/check_icon.png);
                        @include background_contain;
                    }
                }
            }
        }
        .filter_section {
            display: none;
        }
    }

    .product_container {
        flex: 0 0 auto;
        width: 930px;
        margin-left: 15px;

        .product_filter_top {
            margin: 20px 0;
            overflow: hidden;

            .gender_tab_area {
                float: left;

                button {
                    position: relative;
                    color: gray;
                    font-size: $defalut_font_size;
                    font-family: $font_noto_sans;
                    background: none;
                    margin-right: 15px;
                    letter-spacing: -0.5px;

                    &.male::after,
                    &.female::after {
                        content: "";
                        position: absolute;
                        top: 6px;
                        left: 38px;
                        width: 1px;
                        height: 15px;
                        background-color: gray;

                    }

                    &.tab_on {
                        color: black;
                    }
                }
            }

            .sort_n_filter_btn_toggle_area {
                float: right;
                display: flex;

                .sort_style {
                    font-size: $small_up_font_size;
                    font-family: $font_noto_sans;
                    font-weight: 700;
                    margin-left: 15px;
                }

                .filter_btn {
                    cursor: pointer;
                    .filter_chk_design {
                        transform: translateY(-4px);
                        margin-right: 5px;
                    }

                    .filter_toggle_bar {
                        position: relative;
                        display: inline-block;
                        @include item_size(70px, 20px);
                        background-color: #bbbbbb;
                        border-radius: 15px;
                        transition: all 0.5s;
                        .move_bar {
                            position: absolute;
                            top:0; left: 0px;
                            @include item_size(20px, 20px);
                            transition: all 0.5s;
                            background-color: #fff;
                            border:1px solid gray;
                            border-radius: 50%;
                        }
                    }

                    &.filter_on {
                        .filter_toggle_bar {
                            background-color: black;
                        }
                        .move_bar {
                            left: 50px;
                        }
                    }
                }

                select {
                    @include item_size(100px, 20px);
                    transform: translateY(-1px);
                    border: none;
                }
                label {
                    display: inline-block;
                }
            }
        }
        .product_list_wrapper {
            overflow: hidden;
            .lengthNotice {
                text-align: center;
                margin-top: 30px;
                font-size: 20px;
                padding: 200px 0;
                background-color: white;
            }
            li {
                position: relative;
                float: left;
                margin-right: 15px;
                @include item_size(300px, 600px);
                &:nth-child(3n) {
                    margin-right: 0;
                }
                &.link_hidden {
                    display: none;
                }
                .img_link_01 {
                    position: absolute;
                    top: 0;
                    transition: all 0.3s;
                    opacity: 1;
                    &:hover {
                        opacity: 0;
                    }
                    img {
                        object-fit: cover;
                    }
                }
                .img_link_02 {
                    img {
                        object-fit: cover;
                    }
                }
/*                 img {
                    @include item_size(300px, 330px);
                } */
                .product_name {
                    font-size: $small_up_font_size;
                    font-family: $font_noto_sans;
                    font-weight: 700;
                    margin-top: 6px;
                }
                .model_name {
                    font-size: $small_up_font_size;
                    font-family: $font_noto_sans;
                }
                .price {
                    display: inline-block;
                    font-size: 18px;
                    font-family: $font_noto_sans;
                    margin-bottom: 60px;
                }
                .price_unit {
                    font-size: 20px;
                    margin-right: 2px;
                }
                .best, .new {
                    display: inline-block;
                    margin-top: 6px;
                    margin-right: 5px;
                    font-size: $small_up_font_size;
                    font-weight: 700;
                }
                .best {
                    color: #8e2720;
                    animation: best 0.8s infinite;
                }
                .new {
                    color: #4136BF;
                    animation: new 0.8s 0.4s infinite;
                }
                @keyframes best {
                    50% {
                        color: #d88f8a;
                    }
                    100% {
                        color: #b92d23;
                    }
                }
                @keyframes new {
                    50% {
                        color: #938beb;
                    }
                    100% {
                        color: #4136BF;
                    }
                }
            }
        }
    }
}
.pagenation {
    overflow: hidden;
    @include box_array;
    display: flex;
    margin-bottom: 70px;
    text-align: center;
    justify-content: center;
    ul {
        display: flex;
        margin-right: 20px;
    }
    li {
        margin-right: 20px;
        font-size: 16px;
        border-radius: 50%;
        @include item_size(30px, 30px);
        line-height: 30px;
        font-family: $font_noto_sans;
        transition: all 0.2s;
        cursor: pointer;
        &:last-child {
            margin-right: 0;
        }
        &.page_on {
            color: white;
            background-color: #4136BF;
            border-radius: 50%;
            font-weight: 700;
        }
    }
    .page_btn {
        transform: translateY(-3px);
        margin-right: 20px;
        font-size: 26px;
        cursor: pointer;
    }
}